In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

In [24]:
df = pd.read_fwf('_chat.txt',header=None)
df.columns =['data', 'extra1','extra2']

In [25]:
df.head(5)

                                                data extra1 extra2
0  [2013-11-04, 11:35:37 AM] E changed the subjec...    NaN    NaN
1              [2013-11-04, 11:35:41 AM] E was added    NaN    NaN
2    [2013-11-04, 11:35:42 AM] ‎MagdaMazur was added    NaN    NaN
3          [2013-11-04, 11:35:42 AM] ‎You were added    NaN    NaN
4       [2013-11-04, 11:35:46 AM] ErinPaslawski: Yay    NaN    NaN

In [15]:
pattern = "\[(.*?)\]"
s = "[2013-11-04, 11:35:37 AM] E changed the subjec"
substring = re.search(pattern, s).group(1)
print(substring)

2013-11-04, 11:35:37 AM

In [31]:
df['timestamp'] = re.search(pattern,str(df['data'])).group(1)

In [32]:
df.head(5)

,data,extra1,extra2,timestamp
0,"[2013-11-04, 11:35:37 AM] E changed the subjec...",NaN,NaN,"2013-11-04, 11:35:37 AM"
1,"[2013-11-04, 11:35:41 AM] E was added",NaN,NaN,"2013-11-04, 11:35:37 AM"
2,"[2013-11-04, 11:35:42 AM] ‎MagdaMazur was added",NaN,NaN,"2013-11-04, 11:35:37 AM"
3,"[2013-11-04, 11:35:42 AM] ‎You were added",NaN,NaN,"2013-11-04, 11:35:37 AM"
4,"[2013-11-04, 11:35:46 AM] ErinPaslawski: Yay",NaN,NaN,"2013-11-04, 11:35:37 AM"